[defaults]
#SSH初回接続なしに伴う、管理ノード接続エラーの回避設定
host_key_checking = False

#retry_file生成しない設定
retry_files_enabled = False

#inventory_file	指定
inventory = ./inventory

[ssh_connection]
scp_if_ssh = True
pipeline = true
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null
